.home{
	background: white;
  clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 29%);
  width: 100%;
  height: 45em;
  margin-top: -10.5em;
  position: relative;
  z-index: -100;
}
.logo{
  float:right;
}
.menu-scroll {
padding-top: 0px;
padding-bottom: 0px;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 300;
box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
background-color: #fff;
color:rgb(185, 168, 186);
height: 80px;

}

.main_menu_bg{
margin-top:0px;
}
.main_menu_bg .navbar-default {
background-color: transparent;
border-color: transparent;
transition:.6s;
margin-top: 16px;
}

.main_menu_bg .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color:#fff;
background-color:transparent;
}

.menu-scroll.main_menu_bg .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color:rgb(185, 168, 186);
background-color:transparent;
}

.main_menu_bg .navbar {
margin-bottom:0px;
}

.main_menu_bg .navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
line-height: 20px;
border-radius:10px;
font-family: 'big_johnregular';
text-transform:uppercase;
font-size:18px;
}
.whatido{
	background: linear-gradient(60deg, #E0591A, #FFF689);
	padding:80px 0px;
  clip-path: polygon(0 0, 100% 12%, 100% 75%, 0 55%);
  height : 85em;
  margin-top: -32em;
  position: relative;
  z-index: 3;

}
.myworks{
	padding:80px 0px;
	overflow:hidden;
  height: 50em;
  background: #E5E7E1;
  clip-path: polygon(0 16%, 100% 50%, 100% 85%, 0 85%);
  margin-top: -65rem;
}
.contact{

	background: lightgrey;
  height: 35px;
  margin-top: -8em;
}
.head_title1{
  margin-left:5em;
}
.head_title{
  margin-left:5em;
  margin-top:5em;
}
.sentence1{
  margin-top:2em;
  margin-left:5em;
}
.head_title2{
  margin-left:4.5em;
  margin-top:-0.5em;
}
.sentence2{
  margin-left:5em;
}
.head_title3{
  margin-left:4.5em;
  margin-top:-1em;
}
.sentence3{
  margin-left:5em;
}
.head_title4{
  margin-left:5em;
}
.sentence4{
  margin-left:5em;
}
.sentence5{
  margin-left:5em;
}
.sentence6{
  margin-left:30em;
  margin-top:5em;
}
